

{% extends "layout.html" %}

{% block content %}
    <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}">&#8592; Back</a>

    <div class="row">
        <div class="col-sm-12 appcard">
            <a class="link-silent" href="{{ app.get_absolute_url }}">
            <div class="card text-center appcard__wrapper">
                <img class="card-img-top appcard__img" src="{{ app.cover_small }}" alt="{{ app.name }}">
                <div class="card-block">
                    <h4 class="card-title appcard__title">{{ app.name }}</h4>
                    <p class="card-text appcard__description">{{ app.description }}</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="scroller">
    {% for screen in app.screenshots.all %}
        <img class="scroller__item" src="{{ screen.url }}"/>
    {% endfor %}
    </div>
{% endblock %}


