.appcard {
  padding: 1em; }
  .appcard__wrapper {
    height: 100%; }
  .appcard__img {
    width: 100%;
    height: auto;
    max-width: 170px;
    margin: auto; }

.applist {
  margin-top: 2rem; }

.absolute-center {
  position: relative;
  margin-top: -2em;
  top: 50vh;
  transform: translateY(-50%); }

.main {
  margin-top: 2em; }

.link-silent:hover, .link-silent:focus, .link-silent:active {
  text-decoration: none; }
