.appcard {
  padding: 1em; }
  .appcard__wrapper {
    height: 100%; }
  .appcard__img {
    width: 100%;
    height: auto;
    max-width: 170px;
    margin: auto; }

.appdetails__rating {
  font-size: 3em; }

.appdetails__description {
  margin-top: 2em; }

.appdetails__star-back {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAABpUlEQVR4Ae3WAWQCURzH8a4ZjG3DtjEACwUQAihRwIAIQAJApCC2gAQQgEQQIvoCBWEDIJTFRiEEkQJa0S2ZU6W9u3d3DL0fcHd+H967/zmHanNOwL8CxAs/fuFDpoAKFRsBbvle59Y+IIm6TtImAIWvDfCJYg8QRP1N0B6gqgFVGwDuWWjAgnvrgTTqVtIWAzjp7wB9nNYCIdS9hKwFagdAzQKAO9wEiJJgeQAsSRAlgJs73QARUuQp06DNSCsVZ8mINg3K5EkROQ4EmaGazIzgH1uEl7Gp+jFewRnwxEC6fsCTjkPmkY5UfYdHnW8R17wbrn/j2sBrygV1Q/V1LgzOAWeUdNeXOJMYNBRyuupzKNKfCl6F9S+mvkXEhUDcHFAUAkVzQE8I9EwA3LASAitu5IEwqo6E5YGsLiArDzT3qoY8rzPcu9qUBHAy3dnrApeb65cUds5milMO8GyVdPHt3PPR3brrkQK0IZuT4fxg+87JMNeGzTigDVkLl+PIwkVLGzYJ4IMJMRTBH3eMCT0JgCsqPDh0LB6ocCUA7MwJOAHm8wPsMX8q/r3eswAAAABJRU5ErkJggg==);
  background-size: contain;
  height: 24px;
  width: 120px;
  margin: auto;
  position: relative;
  margin-bottom: 1em; }

.appdetails__star-front {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAABnklEQVR4AezUAWQCYRiH8btmEK1QIQCFAggBLFHAgAhAAkA8CmILSAABSAQhIkBB2AAIZbFRCEGkgFZ0OzOnSu767g5jHiD8f3T3nqTY3B8A/gGOe1STTrMWaKnZCHj5UvPaB4Cihl2AzOcP8IFsD5BA+S1hD9DWgLYdgJ+dBuzwWw8UUY4qWg04mJ4AUxzWAkmUs5LWAp0LoGMBgI8wcTLk2V8Ae/JkiBPGZxggTYEqTXoMWWij+u1ZMKRHkyoF0teBBBsUk21IXAPUiLI0Nb8kqvMMCDITnp8RNPCQCTASmh8RMPgW4ebt5vlX3De8pjjp3jTfxXnjHXBHw/B8gzuBQ0OmYmi+giz8qeBFd/7Z1LeInC6QMwfUdYG6OWCiC0xMAHg46AIHPOJACsVAKXGgbAgoiwP9s6k5T2rzs1/7ggAO1if/dQ0XkpqL2smzWeMQAyJHI2NiSEfFGKNoRYQA7ci2lLhHOuueElsjx6Z3ZANCSFcKMdCOTQB4Z0UWGel6yGRZMREAeKDF98TBLEJQHKiSb0j3MkctGLUAAN6ZUHpZCGvyAAAAAElFTkSuQmCC);
  background-size: contain;
  position: absolute;
  height: 24px; }

.appdetails__imgwrapper {
  margin: auto; }

.scroller {
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: space-between; }
  .scroller__item {
    margin-left: 1em; }
    .scroller__item:first-child {
      margin-left: 0em; }

.applist {
  margin-top: 2rem; }

.absolute-center {
  position: relative;
  margin-top: -2em;
  top: 50vh;
  transform: translateY(-50%); }

.main {
  margin-top: 2em; }

.link-silent:hover, .link-silent:focus, .link-silent:active {
  text-decoration: none; }
